<div class='row'>
    <h1>Actions</h1>
    <table>
        <tr>
            <th>Type</th>
            <th>Cost</th>
            <th>When action happen</th>
        </tr>
        {{#each actions}}
         <tr>
            <td>{{type}}</td>
            <td>{{cost}}</td>
            <td>{{changeDate}}</td>
        </tr>
        {{/each}}
     </table>
</div>
